#new-memo__form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}
#new-memo-submit {
  width: 200px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  align-self: flex-end;
  border-radius: 8px;
}
.new-memo__form__col-container{
	display: flex;
	flex-direction: column;
	width: 200px;
}